body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f0f0f0;
}

header {
  background-color: #333;
  color: white;
  padding: 20px;
  text-align: center;
  width: 100%;
}

main {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  width: 100%;
}


#movie-img img {
  width: 400px;
  height: auto;
}

#films-list {
  width: 40%;
}

#films li.sold-out {
  color: red;
}

button.details {
  background-color: #4CAF50;
  color: white;
  padding: 10px;
  border: none;
  
  cursor: pointer;
}
button.deletebtn {
  background-color: #ec1515;
  color: white;
  padding: 10px;
  border: none;
 
  cursor: pointer;
}
button.buyticket {
  background-color: #0563bb;
  color: white;
  padding: 10px;
  border: none;
  cursor: pointer;
}
button:disabled {
  background-color: #ccc;
}

.sold-out {
  color: gray;
  text-decoration: line-through;
}


/* Grid styling */

/* Container to hold both the movie list and details */
.container {
  display: flex;
  justify-content: space-between;
  gap: 20px; /* Adds some space between the two columns */
  margin-top: 100px;
}

/* Left */

#films {
  width: 45%;  /* Take up 45% of the width */
  list-style-type: none;
  min-width: 300px; 
  padding: 0;
  margin: 0;
  border: 1px solid #ddd; 
}

/* Right */
#movie-details {
  width: 400px;  /* Take up 45% of the width */
  border: 1px solid #ddd;  /* Optional: Add a border for clarity */
}

.film-item {
  margin: 10px 0;
  padding: 10px;
  background-color: #f0f0f0;
  cursor: pointer;
  border-radius: 5px;
}


/* Top Navigation Bar styles */
.top-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  color: white;
  padding: 5px 0px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  
}

.top-nav .headline h1 {
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 5px; /* Add some space between title and subtitle */
  color: #0563bb;
}

.top-nav .headline p {
  font-size: 16px;
  margin: 0;
  font-style: none;
  color: #ddd; /* Lighter color for the subtitle */
}
.top-nav .headline{
  padding-left: 20px;
}




/* Movie details card */

/* Card Container Styling */
.card {
  width: 100%;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(14, 131, 226, 0.1);
  background-color: white;
  overflow: hidden; /* Ensure content doesn't spill outside */
  
}


/* Card Header (Title) Styling */
.card-header {
  background-color: #333;
  padding: 10px;
  color: white;
  text-align: center;
}

.card-title {
  font-size: 20px;
  font-weight: bold;
}

/* Card Body Styling */
.card-body {
  padding: 15px;
  font-size: 14px;
  color: #555;
}

.card-body p {
  margin: 0;
  line-height: 2.5;
}

/* Tickets input styling */

input {
  width: 50px;
  text-align: center;
  font-size: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin: 0 10px;
}


.btn {
  padding: 10px;
  font-size: 10px;
  cursor: pointer;
  border: none;
  background-color: #007bff;
  color: white;
  border-radius: 5px;
  margin-left: 10px;
  transition: background-color 0.3s;
}

.input-container {
  display: flex;
  align-items: center;
}